h2{
    color: chocolate;
text-align: justify;

}


img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-style: normal;
    font-weight: bold;

}
body{
    font-family: sans-serif;
background-color: #fdf6e3;
    margin: 0 15% ;
}


